<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport"
		content="width=device-width, intial-scale=1"></meta>
		<link rel="stylesheet" href="./css/layout.css"></link>
		<link rel="stylesheet" href="./css/styling.css"></link>
	<title>Ryan's Entertainment Reviews</title>
</head>
<body>
	<div class="container">
	<header class="header">
		<h1>Ryan's review of </h1> 
	</header>
		<div id="review-content">
		<h2 id="title" th:text="${review.title}"></h2> 
		<p th:text="${review.review}"></p>
		<img class="photo" th:src="${review.image}" width="500px" height="300px"/>
		</div>
		
		<div class="comment-form-section">
			<h3>Comment Section</h3>
		<form method="POST">
			<div>
				<label>Leave your comments: </label> <input type="text" name="commentText" />
			</div>
			<div>
				<label>Enter your Name:</label> <input type="text" name="userName" />
			</div>
			<div>
				<input name="reviewId" type="hidden" th:value="${review.id}" />
			</div>
			<div>
				<button type="submit" th:formaction="@{/add-comment}">Enter</button>
			</div>
		</form>
		<ul th:each="comment: ${review.comments}">
			<li
				th:text="'Comment: ' + ${comment.commentText} + ' | UserName: ' + ${comment.userName}"></li>
		</ul>
		</div>
		<div class="add-remove-tags">
			<form class="remove-tag" method="post">
				<input name="reviewId" type="hidden" th:value="${review.id}" />
				<ul class="content-list-items">
					<li th:each="tag: ${review.tags}"><a th:href="@{/tag(id=${tags})}" th:text="${tag.tagName}"></a>
					<button id="remove-tag-button" name="tagId" th:value="${tag.id}" th:formaction="@{/remove-tag}">X</button></li>
				</ul>
			</form>
			<form method="POST">
				<input name="id" type="hidden" th:value="${review.id}" /> 
				<input type="text" name="tag" placeholder="Add a tag" />
				<button th:formaction="@{/add-tag}">Add</button>
			</form>
		</div>

	<footer class="footer">	
		<h2><a href="http://localhost:8080/categories">Back to Categories</a></h2>	
	</footer>
</div>
<script src="js/app.js"></script>
</body>
</html>